<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--author 0neBean-->
<!--description 用户信息 mapper-->
<!--date 2019-06-04 14:03:47-->
<mapper namespace="net.onebean.user.mngt.dao.UagUserInfoDao">

    <sql id="basicFiled">
                t.id,
                t.username, 
                t.password, 
                t.business_user_id, 
                t.create_time, 
                t.update_time, 
                t.operator_id, 
                t.operator_name, 
                t.is_deleted
        </sql>


    <insert id="InitUagAccountTable" parameterType="string">
        <![CDATA[
		  ${sql}
		]]>
    </insert>

    <resultMap id="basicResultMap" type="net.onebean.user.mngt.model.UagUserInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="operator_id" jdbcType="INTEGER" property="operatorId"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
        <result column="is_deleted" jdbcType="CHAR" property="isDeleted"/>
    </resultMap>


</mapper>