<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--author 0neBean-->
<!--description 省份 mapper-->
<!--date 2019-01-11 20:54:32-->
<mapper namespace="net.onebean.tenant.mngt.dao.TtenantProvinceDao">
    <select id="findMaxCode" resultType="int">
        select p.province_code+1 from t_tenant_province p order by p.province_code desc limit 1
    </select>
</mapper>