## 所有空行或者以注释符号 ＃ 开头的行都会被 Git 忽略。
## 可以使用标准的 glob 模式匹配。
## 匹配模式最后跟反斜杠（/）说明要忽略的是目录。
## 要忽略指定模式以外的文件或目录，可以在模式前加上惊叹号（!）取反。
## 所谓的 glob 模式是指 shell 所使用的简化了的正则表达式。
## 星号（*）匹配零个或多个任意字符；[abc]匹配任何一个列在方括号中的字符（这个例子要么匹配一个 a，要么匹配一个 b，要么匹配一个 c）；问号（?）只匹配一个任意字符；如果在方括号中使用短划线分隔两个字符，表示所有在这两个字符范围内的都可以匹配（比如 [0-9] 表示匹配所有 0 到 9 的数字）。

ROOT.*
server.*
.classpath
.project
.class
.springBeans
.settings/
target/
src/main/webapp/node_modules/

# maven ignore
target/
#*.jar
#*.war
#*.zip
#*.tar
#*.tar.gz

# eclipse ignore
.settings/
.project
.classpath
.externalToolBuilders

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db